.modal-address {
    width: 30rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

.header p {
    font-size: 1.2rem;
    font-weight: bold;
}

.header button:hover {
    color: #cc1100;
    transition: .4s all ease;
}

.body {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.body .address-title {
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
}
